name: test

on:
  push:
    paths-ignore:
      - '**.md'
  pull_request:
  workflow_dispatch:

jobs:
  initial:
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - id: setup
        run: |
          tools=$(./__test__/run.sh -l)
          echo "::set-output name=tools::$tools"
      - uses: ./
        id: action
        with:
          cache: workflow
          tools: ${{ steps.setup.outputs.tools }}
          verbose: true
      - run: |
          (cd __test__; ./run.sh ${{ steps.setup.outputs.tools }})
      - run: |
          test "${{ steps.action.outputs.cache-hit }}" != true
  cached:
    needs: initial
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - id: setup
        run: |
          tools=$(./__test__/run.sh -l)
          echo "::set-output name=tools::$tools"
      - uses: ./
        id: action
        with:
          cache: workflow
          tools: ${{ steps.setup.outputs.tools }}
          verbose: true
      - run: |
          (cd __test__; ./run.sh ${{ steps.setup.outputs.tools }})
      - run: |
          test "${{ steps.action.outputs.cache-hit }}" == true
  no-cache:
    needs: initial
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - id: setup
        run: |
          tools=$(./__test__/run.sh -l)
          echo "::set-output name=tools::$tools"
      - uses: ./
        id: action
        with:
          cache: no
          tools: ${{ steps.setup.outputs.tools }}
          verbose: true
      - run: |
          (cd __test__; ./run.sh ${{ steps.setup.outputs.tools }})
      - run: |
          test "${{ steps.action.outputs.cache-hit }}" != true
  key:
    needs: initial
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - id: setup
        run: |
          tools=$(./__test__/run.sh -l)
          echo "::set-output name=tools::$tools"
      - uses: ./
        id: action
        with:
          cache: workflow
          key: v2
          tools: ${{ steps.setup.outputs.tools }}
          verbose: true
      - run: |
          (cd __test__; ./run.sh ${{ steps.setup.outputs.tools }})
      - run: |
          test "${{ steps.action.outputs.cache-hit }}" != true
